<h1>Editing custom travel</h1>

<%= render "form", custom_travel: @custom_travel %>

<br>

<div>
  <%= link_to "Show this custom travel", @custom_travel %> |
  <%= link_to "Back to custom travels", custom_travels_path %>
</div>
