<% provide(:title,"Register") %>
<h1>Register User</h1>

<!--<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
-->

<p>This will be a signup page for new users.</p>